.property-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.25s ease;
    font-size: 0.95rem;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.property-card .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

img.card-img-top {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.card-footer {
    margin-top: auto;
}

.card {
    border-radius: 16px;
    overflow: hidden;
}