/* reset de estilos */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* fin reset */

/* Variables */

:root {
  --brand-gold: #eab975;
  --brand-black: #000000;

  --border-radius-lg: 10px;

  /* Bootstrap overrides globales */
  --bs-primary: var(--brand-gold);
  --bs-border-radius: 10px;

  /* Extras */
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  --accent-color: var(--brand-gold);
}

body {
  font-family: 'Roboto', sans-serif;
}