
button.btn-primary ,
a.btn-primary {
  --bs-btn-bg: var(--brand-gold);
  --bs-btn-border-color: var(--brand-gold);
  --bs-btn-hover-bg: #d9a85f;
  --bs-btn-hover-border-color: #d9a85f;
  --bs-btn-color: var(--brand-black);

  color: var(--brand-black);
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-black);
}


button.btn-brand-solid {
  background-color: var(--brand-black);
  opacity: 0.4;
  color: var(--brand-gold);
}

.sticky-lg-top {
  z-index: 1020;
  top: 90px !important;
}

.card-featured {
  border: 2px solid var(--brand-gold);
}

.badge-featured {
  background-color: var(--brand-gold);
  color: var(--brand-black);
  font-size: 0.75rem;
}

.badge-contador {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: .85rem;
  backdrop-filter: blur(4px);
}

.bg-primary {
  background-color: var(--brand-gold) !important;
}